html {
	margin: 0;
	padding: 0;
}

body {
	font: {
		size: 16px;
		family: "Lucida Grande", Helvetica, Arial, sans-serif;
	};
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

body {
	header, main, footer {
		& > div {
			width: 1200px;
			max: {
				width: 100%;
			};
			margin: {
				left: auto;
				right: auto;
			};
		}
	}

	#info {
		p {
			display: inline-block;
		}

		button {
			float: right;
		}
	}

	.error {
		font: {
			size: 18px;
		};
		color: red;
	}

	.button {
		height: 50px;
		width: 200px;
		border: 1px solid black;
		float: left;
		height: 500px;

		span {
			width: 100px;
			height: 100px;
			border: 1px solid black;
			margin: {
				left: auto;
				right: auto;
				top: -50px;
			};
			position: relative;
			top: 50%;
			display: block;
			font: {
				size: 80px;
				weight: 700;
			};
			color: red;
			text: {
				align: center;
			};
		}
	}

	.container {
		&::before, &::after {
			content: "";
			display: table;
			clear: both;
		}
	}

	.w50 {
		width: 50%;
		float: left;
		padding: 15px;
	}

	.border-red {
		border: 1px solid red;
	}

	.right {
		text: {
			align: right;
		};
	}

	audio {
		width: 100%;
	}

	canvas {
		float: left;
		background: {
			color: black;
		};
	}

	small {
		display: block;
	}

	#chatbox {
		input {
			margin: {
				right: 15px;
			};
		}

		ul {
			list-style: none;
			padding: 0;

			li {
				span {
					line: {
						height: 20px;
					};
				}

				:first-child {
					display: inline-block;
					padding: {
						right: 15px;
					};
				}
			}
		}
	}
}

body.no_audio_api {
	.button, canvas, .no_audio_api {
		display: none!important;
	}

	.w50 {
		width: 100%;
	}

	.right {
		text: {
			align: center;
		};
	}
}