extends layout

block content
    header
        div
            h1= title
            p Welcome to #{title}

            if(message)
                p #{message}

            if(alert)
                p.alert #{alert}

    main
        div
            p.error

            form(
                method="POST",
                action="/",
                enctype="multipart/form-data"
            )
                div.container
                    div.w50.right
                        p Select a song...
                        select
                            each song in files
                                option(value="#{song.file}") #{song.name}

                    div.w50.no_audio_api
                        p or upload a new song for everyone!

                        input#select_file(
                            type="file",
                            accept=".mp3",
                            name="music_file"
                        )

                        button(type="submit") Upload Song

                        small must be *.mp3
                        small select a song from &nbsp;
                             a(
                                href="http://freemusicarchive.org/",
                                target="_blank"
                             ) here

            div.container#info
                p.no_audio_api.border_red Press key (left A, right D) if visible

                button(type="button", style="display: none;")#showHighScore Show HighScore

            div.container
                div#buttonA.button
                    span

                canvas

                div#buttonB.button
                    span

                audio(controls)

    footer
        div
            div#chatbox.w50
                section
                    header
                        h3 Chat
                        p

                    input(
                        type="text",
                        id="chat_name",
                        placeholder="Your name"
                    )

                    input(
                        type="text",
                        id="chat_msg",
                        placeholder="Your message"
                    )
                    button(type="button")#chat_send Send

                    ul

            div#highScore.no_audio_api.w50
                header
                    h2 Scores
                    p Unfortunately it´s only saved local :(

                section
                    header
                        h3 Score this round
                    div

                table
                    thead
                        tr
                            th Score
                            th Song
                    tbody