doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script.
            var ld34 = {};
    body
        block content

    script(src="https://cdn.socket.io/socket.io-1.3.7.js")
    script(src="javascripts/main.js")