html {
  margin: 0;
  padding: 0; }

body {
  font-size: 16px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box; }

body header > div, body main > div, body footer > div {
  width: 1200px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
body #info p {
  display: inline-block; }
body #info button {
  float: right; }
body .error {
  font-size: 18px;
  color: red; }
body .button {
  height: 50px;
  width: 200px;
  border: 1px solid black;
  float: left;
  height: 500px; }
  body .button span {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
    position: relative;
    top: 50%;
    display: block;
    font-size: 80px;
    font-weight: 700;
    color: red;
    text-align: center; }
body .container::before, body .container::after {
  content: "";
  display: table;
  clear: both; }
body .w50 {
  width: 50%;
  float: left;
  padding: 15px; }
body .border-red {
  border: 1px solid red; }
body .right {
  text-align: right; }
body audio {
  width: 100%; }
body canvas {
  float: left;
  background-color: black; }
body small {
  display: block; }
body #chatbox input {
  margin-right: 15px; }
body #chatbox ul {
  list-style: none;
  padding: 0; }
  body #chatbox ul li span {
    line-height: 20px; }
  body #chatbox ul li :first-child {
    display: inline-block;
    padding-right: 15px; }

body.no_audio_api .button, body.no_audio_api canvas, body.no_audio_api .no_audio_api {
  display: none !important; }
body.no_audio_api .w50 {
  width: 100%; }
body.no_audio_api .right {
  text-align: center; }

/*# sourceMappingURL=style.css.map */
